In [2]:
import pandas as pd

pref_cols = ['staff_id', 'menu_id', 'pref_scale']
preferences = pd.read_csv('preferences.csv', sep=',',names=pref_cols)

menu_cols = ['menu', 'menu_id']
menu = pd.read_csv('menu.csv',sep=',', names=menu_cols)

preferences_output = pd.merge(menu, preferences)

In [3]:
preferences_output.head()

,menu,menu_id,staff_id,pref_scale
0,Fried yam with chicken and sausage pieces,1,1,3
1,Fufu with goat light soup,2,2,8
2,Vermicelli rice with chicken/fish with sauteed...,3,3,4
3,Vegetable rice with tomato stew with fried chi...,4,4,2
4,Curry rice with sausage stew with fried plantain,5,5,2

In [8]:
preferences_output.head(10)

,menu,menu_id,staff_id,pref_scale
0,Fried yam with chicken and sausage pieces,1,1,3
1,Fufu with goat light soup,2,2,8
2,Vermicelli rice with chicken/fish with sauteed...,3,3,4
3,Vegetable rice with tomato stew with fried chi...,4,4,2
4,Curry rice with sausage stew with fried plantain,5,5,2
5,Waakye with beef and egg with gari/spag/veggies,6,6,15
6,Rice with kontomire stew with fish,7,7,9

In [6]:
menu_preferences = preferences_output.pivot_table (index=['staff_id'],columns=['menu'], values='pref_scale')
menu_preferences.head()

menu,Curry rice with sausage stew with fried plantain,Fried yam with chicken and sausage pieces,Fufu with goat light soup,Rice with kontomire stew with fish,Vegetable rice with tomato stew with fried chicken/fish,Vermicelli rice with chicken/fish with sauteed veggies,Waakye with beef and egg with gari/spag/veggies
staff_id,,,,,,,
1,NaN,3.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,8.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,NaN,NaN,NaN,NaN,2.0,NaN,NaN
5,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fufu_goatsoup = menu_preferences['Fufu with goat light soup']
fufu_goatsoup.head()

staff_id
1    NaN
2    8.0
3    NaN
4    NaN
5    NaN
Name: Fufu with goat light soup, dtype: float64

In [8]:
similarMenus = menu_preferences.corrwith(fufu_goatsoup)
similarMenus = similarMenus.dropna()
df = pd.DataFrame(similarMenus)
df.head(10)

C:\Users\alber\miniconda3\envs\penda_env\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\alber\miniconda3\envs\penda_env\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

Empty DataFrame
Columns: [0]
Index: []

In [9]:
curryricer = menu_preferences["Curry rice with sausage stew with fried plantain"]
curryricer.head()

staff_id
1    NaN
2    NaN
3    NaN
4    NaN
5    2.0
Name: Curry rice with sausage stew with fried plantain, dtype: float64

In [10]:
similarmenus = menu_preferences.corrwith(curryricer)
similarmenus = similarmenus.dropna()
df = pd.DataFrame(similarmenus)
df.head(10)

C:\Users\alber\miniconda3\envs\penda_env\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\alber\miniconda3\envs\penda_env\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

Empty DataFrame
Columns: [0]
Index: []